<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-image: url('http://127.0.0.1:5000/images/home_background_2.png');">
    <form method="POST" action="http://127.0.0.1:5000/rekomendasi"
    class="text-center col-md-4 mb-3 mx-auto">
        <div class="form-group">
        <label for="exampleInputPassword1">My Favourite Book</label>
        <input type="text" class="form-control" id="exampleInputPassword1"
        name="judul" placeholder="Type here...">
        </div>
        <button type="submit" class="btn btn-primary">Find!</button>
    </form>
</body>
</html>